body{
    font-size: 80%;
    /* QĐ kích thước chữ */
    font-family: "Courier New", Courier, monospace;
    /* QĐ phông chữ */
    letter-spacing: 0.15em;
    /* QĐ khoảng cách các từ */
    background-color: #efefef;
    /* QĐ màu nền */
}
#page{
    max-width: 940px;
    /* Qđ độ rộng tối đa */
    min-width: 720px;
    /* Qđ độ rộng tối thiểu */
    margin: 10px auto 10px auto;
    /* Thiết lập thuộc căn lề cho phần tử */
    padding: 20px;
    /* Thiết lập lại vùng đệm  */
    border: 4px double #000;
    /* Thiết lập tất cả các thuộc tính đường viền */
    background-color: #ffffff;
    /* QĐ màu nền */
}
#logo{
    width: 150px;
    /* Độ rộng */
    margin: 10px auto 25px auto;
    /* Thiết lập thuộc căn lề cho phần tử */
}
ul{
    width: 570px;
    /* Độ rộng */
    padding: 15px;
    /* Thiết lập lại vùng đệm  */
    margin: 0px auto 0px auto;
    /* Thiết lập thuộc căn lề cho phần tử */
    border-top: 2px solid #000;
    /* Thiết lập tất cả các thuộc tính đường viền trên*/
    border-bottom: 1px solid #000; 
    /* Thiết lập tất cả các thuộc tính đường viền dưới*/
    text-align: center;
    /* XĐ nội dung theo chiều ngang */
}
li{
    display: inline;

    margin: 0px 3px;
    /* Thiết lập thuộc căn lề cho phần tử */
}
p{
    text-align: center;
    /* XĐ nội dung theo chiều ngang */
    width: 600px;
    /* Độ rộng */
    margin: 20px auto 20px auto;
    /* Thiết lập thuộc căn lề cho phần tử */
    font-weight: normal;
    /* QĐ độ rộng chữ */
}
a{
    color: #000000;
    /* QĐ màu */
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px 5px 18px; 
}
a:hover,
a.on{
    color: #cc3333;
    background-color: #ffffff;
}