<!DOCTYPE html>
<html lang="http://127.0.0.1:3000/layout/bt2.htmlen">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="bt2.css">
    </head>
    <body>
        <div id="main">
            <div id="head">
                <h1>Student Profile</h1>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Contract</a></li>
                    </ul>
                </nav>
            </div>
            <div id="mid">
                <div id="left">
                    <img src="btimg/387525326_2965007330301214_644903533109646323_n.jpg" width="20%" >
                    <h2>Nguyen The Son</h2>
                    <h4>Email:Son1huyen2trang3@gmal.com</h4>
                    <h4>Description: A passionate student with a keen interest in web development.</h4>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ex cum dolores eos culpa itaque
                       deleniti tenetur perferendis modi accusantium nobis, blanditiis tempore eum perspiciatis assumenda.
                       Unde, non? Minima, eum.</h4>
                  </div>
                  <div id="right">
                      <p><a href="https://www.facebook.com/nguyen.theson.73744">Visit my Facebook profile</a></p>
                      <P>Tel: (+84) 0888317598</P>
                  </div>
            </div>
            
            <div id="footer">
                <p>&copy.Nguyen The Son</p>
            </div>
        </div>
    </body>
</html>